<% button__classes = "button__student" %>
<% button__edits = "button__edit" %>
<% button__delete = "btn btn-danger text-decoration-none text-white" %>
<% if @student.applied == true %>
  <% button__classes += " btn__disable" %>
  <% button__edits += " btn__disable" %>
  <% button__delete += " btn__disable" %>
<% end %>
  
<div class="d-flex flex-column justify-content-center align-items-center">
  <section class="card my-5 shadow" 
    style="background-color: rgba(114, 108, 248, 0.3); min-width: 60%; border-radius: 0.5rem;">
    <div class="row g-0">
      <div class="col-md-4 text-center pt-3" 
      style="border-radius: 0.5rem;
        background: linear-gradient(to right bottom, rgba(246, 211, 101, 0.8), rgba(253, 160, 133, 0.8));">
        <% if @student.photo.attached? %>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag @student.photo, class: "img-fluid mt-5 mb-2", style: "width: 150px; height: 150px; border-radius: 50%; object-fit: cover;" %>
            <%= button_to "Delete avatar", purge_attachment_path(@student.photo.id), method: :delete, class: button__delete + "text-decoration-none my-3 text-center", disabled: @student.applied %>
          </div>
        <% end %>
        <h2 class="mb-3 px-2"><%= @student.name %></h2>
        <h4 class="mb-3"><%= @student.section.name.capitalize %> Section</h4>
        <div class="d-flex text-center gap-2 p-3">
          <%= link_to "Edit", edit_student_path(@student), class: button__edits + " w-100", disabled: @student.applied %>
          <%= link_to "Back", students_path, class: "button__student w-100" %>
        </div>
        <div class="pb-3 px-3"><%= link_to "Delete", student_path(@student), method: :delete, class: "btn btn-danger w-100", style: "font-size: 1.2rem; padding: 0.8rem;" %></div>
        <div class="px-3 pb-3">
          <%= form_with(model: @student, url: student_apply_path(@student), method: :patch, local: true) do |form| %>
            <%= form.text_field :applied, value: true, hidden: true %>
            <%= form.submit "Apply Now", class: button__classes, style: "min-width: 100%;", disabled: @student.applied %>
          <% end %>
        </div>
      </div>
      <div class="mobile__adjust d-flex gap-3 flex-column justify-content-between col-md-8 p-4 text-white">
        <div class="row">
          <div class="col-6">
            <h5><strong>Father's Name:</strong></h5>
          </div>
          <div class="col-6">
            <h5><%= @student.father %></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5><strong>Mother's Name:</strong></h5>
          </div>
          <div class="col-6">
            <h5><%= @student.mother %></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5><strong>Age:</strong></h5>
          </div>
          <div class="col-6">
            <h5><%= @student.age %></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5><strong>Address:</strong></h5>
          </div>
          <div class="col-6">
            <h5><%= @student.address %></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5><strong>Phone:</strong></h5>
          </div>
          <div class="col-6">
            <h5><%= @student.pnumber %></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h5><strong>Previous Grade:</strong></h5>
          </div>
          <div class="col-6">
            <h5><%= @student.prevgrade %></h5>
          </div>
        </div>
        <div class="row">
          <div class="align-middle col-6">
            <h5><strong>Marksheet Preview:</strong></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-flex gap-3 flex-column flex-sm-row justify-content-center align-items-center my-3">
              <% if @student.marksheets.attached? %>
                <% @student.marksheets.includes(:blob).each do |marksheet| %>
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <%= image_tag marksheet.preview(resize_to_fit: [150, 150]) %>
                    <%= button_to "Delete", purge_attachment_path(marksheet), method: :delete, class: button__delete + "text-center mt-3 fs-6", disabled: @student.applied %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>